@font-face{
    font-family: 'WorkSans';
    src: url('../fonts/WorkSans-Regular.otf');   
    font-weight: normal;
    font-style: normal;
} 
@font-face{
    font-family: 'DroidSerif-Bold';
    src: url('../fonts/DroidSerif-Bold.ttf');   
    font-weight: normal;
    font-style: normal;
} 
@font-face{
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.ttf');   
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.ttf');   
    font-weight: normal;
    font-style: normal;
}
