/*//////////////GLOBAL/////////////////*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*  COLORS
========================================== */
.odred-button, .price .product__container button, .header .article-home button {
  background-color: #d68c6f;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  color: #fff;
  font-family: "Work Sans";
  font-size: 18px;
  padding: 20px 50px;
  border: none;
  cursor: pointer;
  outline: none;
}

.h2, .price .product__container h2, .subscribe h2, .product .types-birds h2 {
  color: #2e4265;
  font-family: "Work Sans";
  font-size: 63px;
  font-weight: 700;
}

.p, .price .product__container p, .subscribe p, .product .types-birds p, .header .article-home p {
  color: #6d6d6d;
  font-family: "Open Sans";
  font-size: 16px;
  margin-bottom: 40px;
  line-height: 26px;
  font-weight: 700;
}

/*////////////HEADER////////////////*/
.header {
  background-color: #e4ddcf;
  position: relative;
  overflow: hidden;
}
.header-top-container {
  padding-top: 42px;
}
.header-top {
  width: 80%;
  margin: 0 auto;
}
.header .logo {
  display: inline-block;
  float: left;
  line-height: 40px;
}
.header .burger-menu {
  display: inline-block;
  float: right;
}
.header .burger-menu a {
  margin-right: 20px;
  display: inline-block;
  line-height: 2;
}
.header .burger-menu a:after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: #6d6d6d;
  transition: width 0.3s ease-in-out;
}
.header .burger-menu a:hover:after, .header .burger-menu a:focus:after {
  width: 100%;
}
.header .burger-menu-txt {
  text-decoration: none;
  font-family: "WorkSans";
  font-size: 18px;
  color: #6d6d6d;
}
.header .header__home {
  padding: 84px 0px 50px 0px;
  width: 75%;
  margin: 0 auto;
}
.header .article-home {
  float: left;
  width: 45%;
  position: relative;
  z-index: 2;
}
.header .article-home h1 {
  font-family: "DroidSerif-Bold";
  color: #2e4265;
  font-size: 60px;
  margin-bottom: 50px;
  line-height: 75px;
}
.header .duck-home {
  float: right;
  position: relative;
  z-index: 1;
}
.header .duck-home img {
  position: relative;
  z-index: 1;
}
.header .header__home div:nth-child(3) {
  position: absolute;
  z-index: 0;
  right: -200px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.header .header__home div:nth-child(4) {
  position: absolute;
  z-index: 0;
  left: -150px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.header .shadow-duck {
  position: relative;
  top: -50px;
  left: -110px;
  z-index: 0;
}
.header .shadow-duck .shadow {
  position: absolute;
  background: #fff;
  opacity: 0.3;
  -webkit-border-radius: 320px/50px;
  -moz-border-radius: 320px/50px;
  border-radius: 320px/50px;
}
.header .shadow-duck .shadow:nth-child(1) {
  width: 570px;
  height: 80px;
}
.header .shadow-duck .shadow:nth-child(2) {
  width: 500px;
  height: 65px;
  text-outline: 10px;
  left: 30px;
}
.header .shadow-duck .shadow:nth-child(3) {
  width: 450px;
  height: 55px;
  text-outline: 15px;
  left: 60px;
}

/*////////////////SECTION PRODUCT///////////*/
.product {
  position: relative;
  overflow: hidden;
  padding: 130px 0px 160px 0px;
}
.product .growth-duck {
  width: 57%;
  margin: auto;
}
.product .egg-bg {
  position: absolute;
  z-index: 0;
  top: -90px;
  left: -40px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.product .egg-bg .egg-img {
  width: 310px;
}
.product h1 {
  font-family: "Work Sans";
  color: #2e4265;
  opacity: 0.04;
  font-weight: 700;
  font-size: 175px;
  position: relative;
  z-index: 0;
  top: -40px;
  line-height: 0;
}
.product .growth-time {
  position: relative;
}
.product .growth-time span {
  font-family: "Work Sans";
  font-size: 26px;
  font-weight: 300;
  color: #2e4265;
  left: 200px;
  top: 10px;
  position: relative;
}
.product .growth-time .gorisontal-line {
  width: 100%;
  height: 4px;
  background-color: #2e4265;
  position: absolute;
}
.product .growth-time .vertical-line-start {
  height: 40px;
  width: 4px;
  top: -40px;
  background-color: #2e4265;
  position: absolute;
}
.product .growth-time .vertical-line-start p {
  position: relative;
  color: #2e4265;
  font-family: "Work Sans";
  font-size: 63px;
  font-weight: 700;
  top: 25px;
  left: -50px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.product .growth-time .vertical-line-middle {
  height: 20px;
  width: 4px;
  left: 50%;
  top: -20px;
  background-color: #2e4265;
  position: absolute;
}
.product .growth-time .vertical-line-middle p {
  position: relative;
  color: #2e4265;
  font-family: "Work Sans";
  font-size: 63px;
  font-weight: 700;
  top: -70px;
  left: -30px;
}
.product .growth-time .vertical-line-end {
  height: 40px;
  width: 4px;
  left: 100%;
  top: -40px;
  background-color: #2e4265;
  position: absolute;
}
.product .growth-time .vertical-line-end p {
  position: relative;
  color: #2e4265;
  font-family: "Work Sans";
  font-size: 63px;
  font-weight: 700;
  top: 25px;
  left: 45px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.product .birds {
  margin-top: 36px;
}
.product .birds .product__egg {
  float: left;
  margin-right: 10%;
  width: 20%;
}
.product .birds .product__egg img {
  width: 100%;
}
.product .birds .product__duckling {
  float: left;
  width: 25%;
}
.product .birds .product__duckling img {
  width: 100%;
}
.product .birds .product__big-duck {
  float: right;
  width: 38%;
}
.product .birds .product__big-duck img {
  width: 100%;
}
.product .types-birds {
  width: 85%;
  margin: auto;
  padding-top: 132px;
}
.product .types-birds .description {
  float: left;
  width: 45%;
  margin-bottom: 130px;
}
.product .types-birds .description-end {
  float: right;
  width: 45%;
  margin-bottom: 130px;
}
.product .types-birds h1 {
  position: relative;
  top: 10px;
  color: #2e4265;
  font-family: "Work Sans";
  font-size: 163px;
  font-weight: 700;
  opacity: 0.1;
}
.product .types-birds h2 {
  margin-bottom: 6px;
}
.product .types-birds .line-h2 {
  width: 242px;
  height: 20px;
  border-radius: 50%;
  filter: blur(5px);
  background-color: #2e4265;
  opacity: 0.4;
  margin-top: 13px;
}
.product .bg-duckling {
  position: absolute;
  top: 130px;
  left: 1310px;
  filter: blur(5px);
}
.product .bg-duckling img {
  width: 460px;
}

/*/////////////////SECTION SUBSCRIBE////////*/
.subscribe {
  position: relative;
  background-color: #e4ddcf;
  overflow: hidden;
}
.subscribe .subscribe__bg-img-left {
  position: absolute;
  top: 40px;
  left: -90px;
  filter: blur(7px);
}
.subscribe .subscribe__bg-img-right {
  position: absolute;
  top: 40px;
  right: -30px;
  filter: blur(7px);
}
.subscribe .subscribe__container {
  margin-left: 25%;
  width: 63%;
  margin-top: 63px;
  position: relative;
}
.subscribe .subscribe__text {
  float: left;
}
.subscribe .subscribe__text input {
  background-color: #e4ddcf;
  border: none;
  color: #555;
  outline: none;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  width: 350px;
  line-height: 40px;
  border-bottom: 2px solid #d68c6f;
}
.subscribe .subscribe__text button {
  font-size: 40px;
  background-color: #d68c6f;
  border: none;
  display: inline-block;
  line-height: 42px;
  margin-left: -5px;
  padding: 9px 14px;
  color: #fff;
  cursor: pointer;
}
.subscribe h2 {
  margin-bottom: 46px;
}
.subscribe p {
  margin-bottom: 53px;
}
.subscribe form {
  float: left;
}
.subscribe .subscribe-img {
  float: right;
  z-index: 1;
}
.subscribe .subscribe-img img {
  z-index: 1;
}

/*///////////////PRICE//////////////////*/
.price {
  background-color: #f3f3f3;
}
.price .price__product {
  position: relative;
  overflow: hidden;
}
.price .product-bg {
  position: absolute;
  background-color: #fff;
  filter: blur(7px);
  z-index: 0;
  padding: 100px;
}
.price .product__container {
  position: relative;
  width: 70%;
  z-index: 1;
  margin: 90px 0px 160px 0px;
  margin-left: 20%;
}
.price .product__container h2 {
  margin-bottom: 46px;
}
.price .product__container .price {
  font-family: "Work Sans";
  font-size: 27px;
  color: #d68c6f;
  margin-bottom: 50px;
}
.price .product__container .price span {
  font-size: 34px;
  font-weight: 700;
}
.price .price__description {
  float: right;
  width: 70%;
}
.price .product-img {
  float: left;
}

/*//////////////FOOTER////////*/
.footer {
  background-color: #2e4265;
  padding: 30px 0px;
}
.footer .footer__container {
  width: 75%;
  margin: auto;
}
.footer span {
  float: left;
  opacity: 0.3;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
}
.footer nav {
  float: right;
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.footer nav a {
  color: #fff;
  text-decoration: none;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
}

@font-face {
  font-family: "WorkSans";
  src: url("../fonts/WorkSans-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "DroidSerif-Bold";
  src: url("../fonts/DroidSerif-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
